<!DOCTYPE html>
<html>
    <head>
        
        <title>Kervens Dev</title>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type= "text/css" href = "/stylesheets/main.css">
        <script src="https://use.fontawesome.com/8793a1438d.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        .container{
            background-color:#262626;
            color:white;
            
        }
    
        </style>
    </head>
    <body>
        
        <nav class= "navbar navbar-default">
            <div class= "container-fluid">
                 <div class= "navbar-header">
                     <a class = "navbar-brand" href= "/home"><i class="fa fa-code" aria-hidden="true"></i> K</a>
                </div>
                <div class="collaspse navbar-collaspse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/hobbies">Hobbies</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>   
            
                    </ul>
                    
                </div>
                
            </div>
</nav>

    <div class="container text-center">
        <address>
      <strong>K services</strong><br>
      Queens, New York<br>
      <abbr title="Phone">P:</abbr> (929) 386-7951
    </address>
    
    <address>
      <strong>Kervens Jasmin</strong><br>
      <a href="mailto:#">jakejasminjk@gmail.com</a>
    </address>
    </div>


 </body>
    </html>