<!DOCTYPE html>
<html>
    <head>
        
        <title>Kervens JDev</title>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type= "text/css" href = "./stylesheets/work.css">
        <script src="https://use.fontawesome.com/8793a1438d.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        </script>
        <style>
               body{
               background-color:#f2f2f2;
               
               background-size:cover;
           }
           
           .image {
                  width: 100%;
                  height: cover;
                  background-size: cover;
                  background-position: center center;
                    }

           
            .colText{
                
                background-color: #a6a6a6;
                margin-bottom:0;
                padding-bottom:0;
                
            }
            .thumbnail{
                margin-top:0;
                opacity:0.7;
            }
            .thumbnail:hover{
                opacity:1;
            }
            .colText{
                font-size:18px;
                text-align:center;
                
            }
            
            .inter{
                height:200px;
            }
             .jumbotron{
               background-color: #262626
                  
           }
           .textJumbo{
               color:white;
           }
        </style>
        
    </head>
    <body>
        
        <nav class= "navbar navbar-default">
            <div class= "container-fluid">
                 <div class= "navbar-header">
                    <a class = "navbar-brand" href= "/home"><i class="fa fa-code" aria-hidden="true"></i> K</a>
                </div>
                <div class="collaspse navbar-collaspse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/hobbies">Hobbies</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>   
            
                    </ul>
                    
                </div>
                
            </div>
</nav>
<div class= "container-fluid">
    <div class="jumbotron">
        <span class="textJumbo"><h1><i class="fa fa-code" aria-hidden="true"></i> Hobbies</h1>
         <h4>These are a few of my hobbies</h4>
        <h6>Hover over images<h6>
        </span>
       
    </div>
    <div class= "row image">
        <div class= "col-md-4 ">
            <div class="thumbnail">
                <div><img class="image inter" src="http://images.fineartamerica.com/images-medium-large-5/remember-the-white-tennis-ball-kaye-menner.jpg"></div>
                <div class="textC"><p class="colText">I love tennis. It's the only sport that never gets boring no matter how often I play. 
                In fact, it gets better the longer one plays. It is a sport that not only requres strength but also intellgence 
                This is one hobby which I have a lot of love for.</p></div>
            </div>
        </div>    
         <div class= "col-md-4">
            <div class="thumbnail">
                <div><img class="image inter" src="https://img1.etsystatic.com/042/0/6320606/il_fullxfull.626973795_dd8b.jpg"></div>
                <div class="textC"></div><p class="colText">Books are a portal to another world. A world were limitations do not exist.
                Books are a big part of my life. I started learning the essentails of programming from C# books. This is a hobby
                that I'll always stick with. I've even started writing my own novel.</p>
            </div>
        </div>
        <div class= "col-md-4">
            <div class="thumbnail">
                <div><img class="image inter" src="http://sf.co.ua/13/07/wallpaper-2930521.jpg"></div>
                <div class="textC"></div><p class="colText">Body building is a sport that builds your will and preserverence. In order to advance you
                must constantly push. You don't do a workout because it is easy. You do it because it is hard. This mindset has allowed
                me to become a better bodybuilder and programmer.</p>
            </div>
        </div> 
    </div>
    <div class="row image">
         <div class= "col-md-6">
            <div class="thumbnail">
                <div><img class="image inter" src="https://images.unsplash.com/photo-1470019693664-1d202d2c0907?auto=format&fit=crop&w=1050&q=80"></div>
                <div class="textC"></div><p class="colText">The piano is one of the best musical instruments in existence. It only consist of 
                seven notes and then the 5 sharps and flats but with the use of octaves,one can play hunderds of songs. Playing the piano has always
                helped me calm down and think. </p>
            </div>
        </div>
         <div class= "col-md-6">
            <div class="thumbnail">
                <div><img class="image inter" src="https://c2.staticflickr.com/8/7646/26682751244_5c54498c3a_b.jpg"></div>
               <div class="textC"></div> <p class="colText">Law and debate are what made me who I am. They forced me to come up with a logical position instead
               of one that is based on feelings. Law and debate has taught me how to lead and work with any restrictions that I may have.</p>
            </div>
        </div>    
        
    </div>
         
</div>


</body>
</html>