<!DOCTYPE html>
<html>
    <head>
        
        <title>Kervens Dev</title>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type= "text/css" href = "./stylesheets/work.css">
        <script src="https://use.fontawesome.com/8793a1438d.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{
               background-color:#f2f2f2;
               
               background-size:cover;
           }
           a{
               color:red;
               
           }
           h4{
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
               border-bottom-left-radius: 15px;
               border-bottom-right-radius: 15px;
               font-size:20px;
               background-color:#F8F8FF;
               
           }
          
           .or{
               color:black;
           }
           .text-center.top{
               font-size:24px;
               color: black;
           }
           .col-md-4{
               margin-top:40px;
               
               
           }
           .jumbotron{
               background-color: #262626
                  
           }
           .textJumbo{
               color:white;
           }
        </style>
    </head>
    <body>
        
        <nav class= "navbar navbar-default">
            <div class= "container-fluid">
                 <div class= "navbar-header">
                    <a class = "navbar-brand" href= "/home"><i class="fa fa-code" aria-hidden="true"></i> K</a>
                </div>
                <div class="collaspse navbar-collaspse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/hobbies">Hobbies</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>   
            
                    </ul>
                    
                </div>
                
            </div>
</nav>
<div class ="container-fluid">
    <div class="jumbotron">
        <span class="textJumbo"><h1><i class="fa fa-code" aria-hidden="true"></i> Hello,I'm Kervens</h1>
        <p>Full Stack Web Developer</p>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 text-center top">Greetings, I'm Kervens Jasmin! This is my portfilo </div>
        
        
    </div>
    <div class="row">
       <div class= " col-md-12 text-center top"><div><h2>This site will let you learn about me as a programmer and a person</h2></div></div>
    </div>
    <div class="row">
        <div class= " col-md-4 text-center"><div><h4>If you are interested in learning about my hobbies, then <a href="/hobbies">click me</a></h4></div></div>
        <div class= " col-md-4 text-center"><div><h2 class="or">OR</h2></div></div>
        <div class = " col-md-4 text-center"><div><h4>If you wish to learn about my history and my skills, then <a href="/work">click me</a></h4></div></div>
        
        
    </div>
   
</div>




 </body>
    </html>