<!DOCTYPE html>
<html>
    <head>
        
        <title>Kervens Dev</title>
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type= "text/css" href = "/stylesheets/main.css">
        <script src="https://use.fontawesome.com/8793a1438d.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
             .jumbotron{
               background-color: #262626
                  
           }
           .textJumbo{
               color:white;
           }
              .project{
               
               margin-bottom:30px;
               text-decoration:underline;
           }
        </style>
    </head>
    <body>
        
        <nav class= "navbar navbar-default">
            <div class= "container-fluid">
                 <div class= "navbar-header">
                    <a class = "navbar-brand" href= "/home"><i class="fa fa-code" aria-hidden="true"></i> K</a>
                </div>
                <div class="collaspse navbar-collaspse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/hobbies">Hobbies</a></li>
                        <li><a href="/work">Work</a></li>
                        <li><a href="/contact">Contact</a></li>   
            
                    </ul>
                    
                </div>
                
            </div>
</nav>

<div class ="container-fluid">
    <div class="jumbotron">
        <span class="textJumbo"><h1><i class="fa fa-code" aria-hidden="true"></i> My published work</h1>
        <p>More to come soon</p>
        </span>
    </div>
    <div class="row">
       <div class= " col-md-12 text-center top"><div class="project"><h2>Projects</h2></div></div>
    </div>
    <div class="row">
        <div class = " col-md-4 text-center"><div><h4>Pet start-up page</h4>
        <p>It is only a landing page the navigation bar will not take you anywhere. This was one of my earlier works. I am thinking of going back
        and working on it some more.</p><button class= "btn btn-info"><a target= "_blank" href="https://natureisalive.herokuapp.com/">Site</a></button>
        </div></div>
        <div class = " col-md-4 text-center"><div><h4>Nature Image Gallery</h4>
        <p>An image gallery. It uses the bootstrap grid system and html to align and position the images. 
        This was one of my other early works.</p><button class= "btn btn-info"><a target= "_blank" href="https://secure-island-57074.herokuapp.com/">Site</a></button>
        </div></div>
        <div class = " col-md-4 text-center"><div><h4>K dev</h4>
        <p>This is Parallax project. I always like how Parallax sites looked. It took a long time to mkae but it was worth it</p><button class= "btn btn-info"><a target= "_blank"  href="https://damp-stream-78731.herokuapp.com/">Site</a></button>
        </div></div>
    </div>
    <div class="row">
        <div class = " col-md-12 text-center"><div>Yelp Camp
        <p>This is my proudest work. The website is fully functional and includes authentication. I have a database included in this website
        and I'm planning to add databases to my other websites too.</p><button class= "btn btn-info"><a target= "_blank"  href="https://quiet-journey-94039.herokuapp.com/">Site</a></button>
        </div></div>
        
    </div>
    <div class="row">
        <div class = " col-md-12 text-center"><div><a href="/work">Alot more to come in time.
        <p>
            
        </p>
        </div></div>
    </div>
   
</div>




    </body>
</html>